@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

@layer base {
  body {
    min-height: 100vh;
    @apply font-rubik text-heading_md font-normal flex bg-[#f6f6f6] justify-center items-center m-0 ;
  }
  #root {
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    @apply bg-diary_white;
  }
  .App{
    min-height: 100vh;
    @apply pl-5 pr-5;
  }
  @media (min-width:650px){ .App{width: 640px;} }
  @media (max-width:650px){ .App{width: 90vw;} }
}

@layer components {
  /*MyButton*/
  .MyButton {
    @apply font-medium text-heading_sm pt-2.5 pb-2.5 pl-5 pr-5 cursor-pointer rounded-md border-0 whitespace-nowrap;
  }
  .MyButton_default {
    @apply text-diary_black
  }

  /*header*/
  header{
    @apply flex items-center pt-5 pb-5 border-b border-[#e2e2e2];
  }
  header > div {
    @apply flex;
  }
  header .head_text {
    @apply font-medium text-heading_lg justify-center w-1/2;
  }
  header .head_btn_left {
    @apply justify-start w-1/4;
  }
  header .head_btn_right {
    @apply justify-end w-1/4;
  }

  /*Emotion-Color Setting*/
  .DiaryItem .emotion_img_wrapper, .EmotionItem_off,
  .DiaryPage .diary_img_wrapper, .MyButton_default,
  .DiaryList .ControlMenu {
    @apply bg-diary_gray text-diary_black;
  }
  .DiaryItem .emotion_img_wrapper_1, .EmotionItem_on_1,
  .DiaryPage .diary_img_wrapper_1, .MyButton_positive {
    @apply bg-diary_green text-diary_white;
  }
  .DiaryItem .emotion_img_wrapper_2, .EmotionItem_on_2,
  .DiaryPage .diary_img_wrapper_2 {
    @apply bg-diary_lightGreen text-diary_white;
  }
  .DiaryItem .emotion_img_wrapper_3, .EmotionItem_on_3,
  .DiaryPage .diary_img_wrapper_3 {
    @apply bg-diary_yellow text-diary_white;
  }
  .DiaryItem .emotion_img_wrapper_4, .EmotionItem_on_4,
  .DiaryPage .diary_img_wrapper_4 {
    @apply bg-diary_orange text-diary_white;
  }
  .DiaryItem .emotion_img_wrapper_5, .EmotionItem_on_5,
  .DiaryPage .diary_img_wrapper_5, .MyButton_negative {
    @apply bg-diary_red text-diary_white;
  }
}

/* DiaryList */
.DiaryList .menu_wrapper {
  @apply flex justify-between mt-5 mb-5;
}
.DiaryList .menu_wrapper .right_col {
  @apply grow-[1];
}
.DiaryList .menu_wrapper .right_col button {
  @apply w-full;
}
.DiaryList .ControlMenu {
  @apply text-heading_sm pt-2.5 pb-2.5 pl-5 pr-5 mr-5 cursor-pointer rounded-md border-0;
}

/*DiaryItem*/
.DiaryItem{
  @apply flex items-center justify-between pt-4 pb-4 border-b border-[#e2e2e2];
}
.DiaryItem .emotion_img_wrapper {
  @apply flex justify-center min-w-[6rem] cursor-pointer rounded-md h-20;
}
.DiaryItem .emotion_img_wrapper img {
  @apply w-1/2;
}
.DiaryItem .info_wrapper {
  @apply pl-5 pr-2.5 cursor-pointer grow-[1];
}
.DiaryItem .diary_date {
  @apply font-medium text-heading_md mb-1.5;
}
.DiaryItem .diary_content_preview {
  @apply font-light text-heading_md
}
.DiaryItem .btn_wrapper {
  @apply min-w-[4rem]
}

/*Diary Editor*/
.DiaryEditor section {
  @apply mb-10;
}
.DiaryEditor h4{
  @apply font-medium text-heading_md mt-8 mb-4
}
.DiaryEditor .input_date{
  @apply text-heading_sm bg-diary_gray pt-2.5 pb-2.5 pl-5 pr-5 cursor-pointer rounded-md border-0;
}
.DiaryEditor .emotion_list_wrapper {
  @apply grid grid-cols-5 gap-2;
}
.DiaryEditor textarea {
  @apply font-light text-heading_md bg-diary_gray w-full p-5 rounded-md border-0 resize-y min-h-[200px] box-border;
}
.DiaryEditor .control_box {
  @apply flex items-center justify-between;
}

/* EmotionItem */
.EmotionItem {
  @apply flex justify-center items-center pt-5 pb-5 cursor-pointer rounded-md flex-col;
}
.EmotionItem img{
  @apply w-1/2 mb-2.5;
}
.EmotionItem span{
  @apply text-heading_xs;
}

/* Diary */
.DiaryPage section {
  @apply flex items-center w-full text-center flex-col;
}
.DiaryPage h4{
  @apply font-medium text-heading_md mt-8 mb-4
}
.DiaryPage .diary_img_wrapper{
  @apply flex items-center justify-around w-60 h-60 rounded-md flex-col;
}
.DiaryPage .emotion_descript{
  @apply text-heading_lg text-diary_white
}
.DiaryPage .diary_content_wrapper {
  @apply w-full rounded-md break-keep;
}
.DiaryPage .diary_content_wrapper p {
  @apply font-light text-heading_md p-5 text-left;
}